[Desktop Entry]
Type=Application
Name=WezTerm
Comment=Launch WezTerm on login
Icon=org.wezfurlong.wezterm
TryExec=wezterm
Exec=wezterm start --cwd .
Categories=System;TerminalEmulator;Utility;
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
